.Cell {
  background-color: var(--c2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
}

.Cell.is-current {
  background-color: var(--c1);
  border: 3px solid var(--c3);
  transform: scale(1.1);
  z-index: 2;
  transition: transform 0.1s;
}

.Cell.is-current.is-active {
  background-color: var(--c3);
}

@keyframes boom {
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.Cell.is-boom svg {
  animation: 0.6s boom;
}

.Cell svg {
  width: 80%;
  height: auto;
}

.Arrow {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 5;
  border-style: solid;
}

.Arrow--n,
.Arrow--s {
  left: 50%;
  transform: translateX(-50%);
}

.Arrow--e,
.Arrow--w {
  top: 50%;
  transform: translateY(-50%);
}

@keyframes stn {
  100% {
    transform: translate(-50%, -50%);
  }
}

.Arrow--n {
  top: -14px;
  border-color: transparent transparent var(--c4) transparent;
  border-width: 0 10px 10px 10px;
  animation: 0.3s infinite alternate stn;
}

@keyframes wte {
  100% {
    transform: translate(50%, -50%);
  }
}

.Arrow--e {
  right: -14px;
  border-color: transparent transparent transparent var(--c4);
  border-width: 10px 0 10px 10px;
  animation: 0.3s infinite alternate wte;
}

@keyframes nts {
  100% {
    transform: translate(-50%, 50%);
  }
}

.Arrow--s {
  bottom: -14px;
  border-color: var(--c4) transparent transparent transparent;
  border-width: 10px 10px 0 10px;
  animation: 0.3s infinite alternate nts;
}

@keyframes etw {
  100% {
    transform: translate(-50%, -50%);
  }
}

.Arrow--w {
  left: -14px;
  border-color: transparent var(--c4) transparent transparent;
  border-width: 10px 10px 10px 0;
  animation: 0.3s infinite alternate etw;
}
